parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,bool\|string\>\:\:filter\(\) expects \(callable\(bool\|string, int\)\: bool\)\|null, Closure\(int\|null\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: src/Builders/ColumnCollectionBuilder.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,bool\|string\>\:\:mapWithKeys\(\) expects callable\(bool\|string, int\)\: array\<int, int\>, Closure\(int, int\)\: non\-empty\-array\<int, int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Builders/ColumnCollectionBuilder.php

		-
			message: '#^Cannot call static method factory\(\) on array\|bool\|float\|int\|string\.$#'
			identifier: staticMethod.nonObject
			count: 1
			path: src/Generators/GenerateUser.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: tests/Feature/Classes/FactoryTest.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 8
			path: tests/TestCase.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 9
			path: tests/UserTestCase.php

